$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "assets/icons" !default;

$icon-helmet: "\e900";
$icon-hammer: "\e901";
$icon-lamp: "\e902";
$icon-bags: "\e903";
$icon-paint-brush: "\e904";
$icon-blueprint: "\e905";
$icon-tools: "\e906";
