@charset "UTF-8";

////
/// This stylesheet contains the custom colours definitions.
/// @access public
///
/// @author Stanisław Gregor
////

$vivid-crimson: #cc0033;
$isabeline: #eaeaea;
$fogra39: #080705;
$gunmetal: #2a324b;
$acajou: #511c29;

$ad-red: $vivid-crimson;
$ad-white: $isabeline;
$ad-rich-black: $fogra39;
$ad-blue: $gunmetal;
$ad-brown: $acajou;
