@charset "UTF-8";

@import "../utilities/all";

body,
#root,
.App,
.App > div {
    min-height: 100vh;
}

.App > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
}

body {
    background-color: $ad-white;
    font-family: "Titillium Web";
}
