@import "../../scss/utilities/all";

.Offer {
  // Center the content.
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  i {
    font-size: 60px;
  }
}
