@charset "UTF-8";

////
/// This file contains the styles for the main document of the AD-art page - homepage.
///
/// Table of contents:
////

.Home {
  // Center the content.
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  .links {
    // Center the links.
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
