@charset "UTF-8";

////
/// This file contains the styles for the main document of the AD-art page - homepage.
////

@import "../../scss/utilities/all";

.Home {
  // Center the content.
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  .links {
    // Center the links.
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    // Add space in between.
    a:first-child {
      margin-right: 50px;
    }

    // Create the vertical line (spacer).
    position: relative;
    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 1px;
      height: 100%;
      background-color: $ad-rich-black;
    }

    // Set the equal width to both of the links
    // to achieve more centered layout.
    a {
      width: 200px;
      text-align: center;
    }
  }
}
