@charset "UTF-8";

@import "../../scss/utilities/all";

.Navbar {
  // Remove the Bootstrap's default styles for the links
  a {
    color: $ad-rich-black;
    text-decoration: none;
  }

  .nav-item {
    // Add mor e space between the links on large screens
    @include media-breakpoint-up(lg) {
      margin-left: 10px;
    }

    // Set the different colour for the active .nav-item to indicate the active page
    a.active {
      color: $ad-red;
    }

    // Fixes for the mobile layout:
    @include media-breakpoint-down(md) {
      text-align: center;

      // Add more space between the elements
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      // Add more space above the first <li>
      &:first-child {
        margin-top: 10px;
      }
    }
  }

  // Set the proper styling for the brand name
  .brand-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    img {
      height: 30px;
      margin-right: 10px;
      display: inline-block;
    }

    font-size: 2rem;
  }
}
