@charset "UTF-8";

@import "../../../scss/utilities/all";

.Navbar {
    // Remove the Bootstrap's default styles for the links
    a {
        color: $ad-rich-black;
        text-decoration: none;
    }

    .nav-item {
        // Apply margins between the .nav-items
        @include media-breakpoint-up(sm) {
            margin-left: 10px;
        }

        @include media-breakpoint-up(md) {
            margin-left: 20px;
        }

        @include media-breakpoint-up(lg) {
            margin-left: 30px;
        }

        // Set the different colour for the active .nav-item to indicate the active page
        a.active {
            color: $ad-red;
        }
    }
}
