@charset "UTF-8";

@import "../../../scss/utilities/all";

.Navbar {
    .nav-item {
        @include media-breakpoint-up(sm) {
            margin-left: 10px;
        }

        @include media-breakpoint-up(md) {
            margin-left: 20px;
        }

        @include media-breakpoint-up(lg) {
            margin-left: 30px;
        }
    }
}
