@charset "UTF-8";

////
/// This file contains the styles for the AD-art "Realizacje" (Executions) page.
////

@import "../../scss/utilities/all";

.Executions {
  // Center the content.
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  padding: 50px 0;
  @include media-breakpoint-up(lg) {
    padding: 100px 0;
  }

  // Create the CSS Grid layout.
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    @include media-breakpoint-up(md) {
      grid-template-rows: 200px 400px 200px;
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: [main-start left-start] 1fr [left-end center-start] 2fr [center-end right-start] 1fr [right-end main-end];
      grid-template-rows: [main-start top-start] 200px [top-end bottom-start] 200px [bottom-end main-end];
    }
    grid-gap: 20px;

    .grid-item {
      &--top-left {
        grid-column: 1;
        grid-row: 1;
        @include media-breakpoint-up(lg) {
          grid-column: left;
          grid-row: top;
        }
      }

      &--top-right {
        grid-column: 2;
        grid-row: 1;
        @include media-breakpoint-up(lg) {
          grid-column: right;
          grid-row: top;
        }
      }

      &--bottom-left {
        grid-column: 1;
        grid-row: 3;
        @include media-breakpoint-up(lg) {
          grid-column: left;
          grid-row: bottom;
        }
      }

      &--bottom-right {
        grid-column: 2;
        grid-row: 3;
        @include media-breakpoint-up(lg) {
          grid-column: right;
          grid-row: bottom;
        }
      }

      &--center {
        grid-column: 1 / -1;
        grid-row: 2;
        @include media-breakpoint-up(lg) {
          grid-column: center;
          grid-row: main;
        }
      }
    }
  }
}
